.cafeListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 10px gray;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 20px;
}

.cafeListWrapper>h3 {
  margin-bottom: 10px;
}

.cafeListWrapper>input {
  width: 80%;
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid gray;
  padding: 2px 10px;
}

.localFilter {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.list {
  height: 260px;
  overflow-y: scroll;
}

.list::-webkit-scrollbar {
  display: none;
}

.cafeCard {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  border: 2px solid gray;
  padding: 5px;
  border-radius: 10px;
}

.cafeCard a {
  text-decoration: none;
  color: goldenrod;
  font-weight: bold;
}