.howWorkWrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.howWorkWrapper>h2 {
  background-color: lightgray;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 3s;
  animation: transfusion 2s infinite;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 35px;
}

@keyframes transfusion {
  0% {
    background-color: gold;
    color: black;
    box-shadow: 0 0 50px gray;
  }

  50% {
    background-color: goldenrod;
    color: white;
  }

  100% {
    background-color: gold;
    color: black;
  }
}

.phone {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 15px 10px;
  border-radius: 25px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  box-shadow: 10px 10px 15px gray;
  gap: 15px;
  border: 3px solid silver;
}

.display {
  border-radius: 15px;
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 20px gray;
  min-height: 470px;
  min-width: 290px;
}

.homeBtn a {
  text-decoration: none;
}

.homeBtn {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.btnSquare {
  border: 2px solid white;
  padding: 7px;
  border-radius: 5px;
}

@media screen and (max-width: 320px) {
  .howWorkWrapper {
    width: 100%;
  }
  .phone {
    box-shadow: none;
  }
}