.howWorkWrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.howWorkWrapper>h2 {
  background-color: lightgray;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: background-color 3s;
  animation: transfusion 2s infinite;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 35px;
}

@keyframes transfusion {
  0% {
    background-color: lightgray;
    color: black;
    box-shadow: 0 0 50px gray;
  }

  50% {
    background-color: gray;
    color: white;
  }

  100% {
    background-color: lightgray;
    color: black;
    box-shadow: 0 0 15px gray;
  }
}

.phone {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 15px 10px;
  border-radius: 25px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  box-shadow: 10px 10px 15px gray;
  gap: 15px;
  border: 3px solid silver;
}

.phoneHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.camera {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  box-shadow: 0 0 5px gray;
}

.lens {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5px;
  width: 7.5px;
  background-color: rgba(0, 0, 0, 0.609);
  border-radius: 50%;
  box-shadow: 0 0 10px black;
}

.dot {
  height: 4px;
  width: 4px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0 0 3px black;
}

.dynamic {
  width: 70px;
  height: 7px;
  background-color: gray;
  box-shadow: 0 0 10px gray;
  border-radius: 20px;
  margin-bottom: 10px;
  background-image:
  repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
  repeating-linear-gradient(90deg, black 0 1px, transparent 1px 100%);
  background-size: 2px 2px;
  opacity: 0.7;
  border: 2px solid rgba(0, 0, 0, 0.7);
}

.display {
  border-radius: 10px;
  padding: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 20px gray;
  /* min-height: 470px; */
  /* min-width: 290px; */
  height: 460px;
  width: 300px;
  overflow-y: scroll;
}

.display::-webkit-scrollbar {
  display: none;
}

.phone a {
  text-decoration: none;
}

.homeBtn {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.btnSquare {
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 7px;
  border-radius: 5px;
}

.btnSquare:active {
  box-shadow: 0px 0px 20px gray;
}

@media screen and (max-width: 768px) {
  .phone a {
    cursor: none;
  }
}

@media screen and (max-width: 320px) {
  .howWorkWrapper {
    width: 100%;
  }
  .phone {
    box-shadow: none;
  }
}