.welcomeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.switchClients {
  position: fixed;
  top: 70px;
  display: flex;
  gap: 10px;
  background-color: white;
  box-shadow: 0 10px 15px gray;
  border-radius: 55px;
  padding: 10px;
  font-size: 18px;
}

.switchClients a {
  text-decoration: none;
  color: gray;
}

.guest {
  border-top-left-radius: 55px;
  border-bottom-left-radius: 55px;
  padding: 20px 30px;
}

.cafe {
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
  padding: 20px 30px;
}

.cafe:hover, .guest:hover {
  background-color: gold;
  color: black;
  font-weight: bold;
}

.content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.content img {
  margin-top: 30px;
  width: 350px;
}

.welcome {
  font-size: 150px;
  font-weight: bold;
  color: goldenrod;
}

@media screen and (max-width: 768px) {
  .switchClients a {
    cursor: none;
  }
  .welcome {
    font-size: 70px;
  }
}