.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: goldenrod;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: showing 2s linear;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.modalContent img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.loaderLineWrap {
  border: 3px solid white;
  border-radius: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.loaderLine {
  border-radius: 40px;
  background-color: white;
  padding: 10px;
  margin: 5px;
  height: 50px;
  animation: loading 1.8s linear;
}

@keyframes loading {
  10% {
    width: 10%;
  }
  90% {
    width: 100%;
  }
}