.startWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 50px;
}

.makeChoice {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
  background-color: lightgray;
  padding: 10px 20px;
  border-radius: 25px;
  font-style: italic;
}

.switchClients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  box-shadow: 0 10px 15px gray;
  border-radius: 55px;
  padding: 10px;
  font-size: 28px;
}

.guest, .cafe {
  color: gray;
  cursor: pointer;
}

.guest {
  border-top-left-radius: 55px;
  border-bottom-left-radius: 55px;
  padding: 5px 15px 20px 30px;
}

.cafe {
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
  padding: 5px 30px 20px 15px;
}

.cafe:hover, .guest:hover {
  background-color: goldenrod;
  color: black;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content img {
  margin-top: 30px;
  width: 150px;
  transform: rotate(10deg);
}

@media screen and (max-width: 768px) {
  .guest, .cafe {
    cursor: none;
  }
}