.headerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 900;
}

.logoBlock {
  color: goldenrod;
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}