.navbarWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: gray;
  margin-top: 80px;
  border-radius: 50px;
  padding: 5px;
}

.navbarWrapper a {
  color: goldenrod;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
}

.navbarWrapper a:first-child {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.navbarWrapper a:last-child {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

@media screen and (max-width: 768px) {
  .navbarWrapper a {
    cursor: none;
  }
}