.orderShowWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.order {
  position: absolute;
  top: 40px;
  left: 5px;
  animation: fly 4s linear;
  z-index: 200;
}

.order img {
  width: 50px;
}

.cafe {
  margin-top: auto;
}

@keyframes fly {
  10% {
    top: 25px;
    left: 15px;
    transform: rotate(15deg);
  }

  20% {
    top: 15px;
    left: 40px;
    transform: rotate(25deg);
  }

  30% {
    top: 5px;
    left: 60px;
    transform: rotate(35deg);
  }

  40% {
    top: 0px;
    left: 80px;
    transform: rotate(45deg);
  }

  50% {
    top: 5px;
    left: 110px;
    transform: rotate(90deg);
  }

  60% {
    top: 30px;
    transform: rotate(110deg);
  }

  70% {
    top: 100px;
    transform: rotate(130deg);
  }

  80% {
    top: 150px;
    transform: rotate(130deg);
  }

  90% {
    top: 200px;
    transform: rotate(120deg);
  }

  100% {
    top: 300px;
    left: 130px;
    transform: rotate(80deg);
  }
}