.CafePhoneWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-bottom: -20px;
}

.tgHeader {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2d85b5;
}

.left {
  display: flex;
  align-items: center;
}

.arrow img {
  width: 15px;
  height: 20px;
  margin-left: 10px;
  filter: invert(1);
  object-fit: cover;
  object-position: 0 100%;
}

.logo img {
  width: 40px;
  margin-left: 15px;
  background-color: white;
  border-radius: 50%;
}

.userName {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: white
}

.mainName {
  font-weight: bold;
  font-size: 1.1rem;
}

.right img {
  filter: invert(1);
  margin-right: 10px;
}

.tgChat {
  position: relative;
  min-height: 390px;
  max-height: 460px;
  background-image: url("../../../assets/bcg-pic.svg");
}

.message {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}