.shopPageWrapper {
  display: flex;
  flex-direction: column;
}

.switch {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 5px;
  margin-bottom: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
}

.shopSwitch, .cartSwitch {
  padding: 5px 10px;
}

.shopSwitch {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.cartSwitch {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}