* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

#root {
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  height: 100vh;
  margin-top: 50px;
  margin-bottom: 50px;
}