* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

#root {
  background-color: whitesmoke;
  min-height: 100vh;
  min-width: 90vw;
}

.app-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}