* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  height: 100vh;
}

.app-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  padding-top: 50px;
}