.cartWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px gray;
  max-width: 400px;
  min-width: 250px;
}

.title {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.clear {
  color: gray;
  margin-bottom: 10px;
}

.posList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 2px solid gray;
  padding: 10px 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 80%;
}

.posCard {
  display: flex;
  justify-content: space-between;
}

.hideDiv {
  display: none;
}

.total {
  margin-bottom: 10px;
}

.time {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.time>input {
  padding: 2px;
}

.cartWrapper>button {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: #24a0ed;
  color: white;
  border-radius: 25px;
  border: none;
}